@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Todo
            </p>
        </div>
    </section>
}
<h3>Nope</h3>
<ol class="round">
    <li class="one">
        not much
    </li>

    <li class="two">
        to see
    </li>

    <li class="three">
        here...
    </li>
</ol>
