@model Dusk.Dawn.Models.RaidLootModel

@{
    ViewBag.Title = "Raid Loot";
}

@section featured {
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
    <h2>Raid Loot</h2>

    <div id="raidloot">
    </div>
}